<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mozhimen.basick">
    <!--UtilKBitmap-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--UtilKNet-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--UtilKVibrate-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--CrashK-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--FpsK-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest>