<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mozhimen.basick">
    <!--UtilKBitmap-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--UtilKNet-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--UtilKDevice-->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--UtilKDevice-->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--UtilKImageLoader-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--UtilKVibrate-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--PrefabKReceiverAutoRun-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>