<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mozhimen.componentktest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwiftKit"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name="com.mozhimen.componentktest.ComponentKActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--audiok-->
        <activity
            android:name=".audiok.AudioKActivity"
            android:exported="false" />
        <!--cameraxk-->
        <activity
            android:name="com.mozhimen.componentktest.cameraxk.CameraXKActivity"
            android:exported="false" />
        <!--installk-->
        <activity
            android:name="com.mozhimen.componentktest.installk.InstallKActivity"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mozhimen.componentktest.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_path" />
        </provider>
        <service
            android:name=".installk.InstallKService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/install_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/installk_smart_accessibility_service_config" />
        </service>
        <receiver
            android:name=".installk.InstallReceiver" android:exported="true"
            android:enabled="true">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!--navigatek-->
        <activity
            android:name="com.mozhimen.componentktest.navigatek.NavigateKActivity"
            android:exported="false" />
        <!--netk-->
        <activity
            android:name=".netk.file.NetKFileActivity"
            android:exported="false" />
        <activity
            android:name=".netk.http.NetKHttpActivity"
            android:exported="false" />
        <activity
            android:name=".netk.NetKActivity"
            android:exported="false" />

    </application>

</manifest>