<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mozhimen.uicorektest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwiftKit">
        <activity
            android:name=".UicoreKActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--btnk-->
        <activity
            android:name=".btnk.BtnKActivity"
            android:exported="false" />
        <!--dialogk-->
        <activity
            android:name=".dialogk.DialogKActivity"
            android:exported="false" />
        <!--layoutk-->
        <activity
            android:name=".layoutk.LayoutKActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.LayoutKInputItemActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.LayoutKBtnActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.LayoutKChipGroupActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.LayoutKEmptyActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.LayoutKVideoActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.banner.LayoutKBannerActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.loadrefresh.LayoutKLoadRefreshActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.navbar.LayoutKNavBarActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.refresh.LayoutKRefreshActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.refresh.LayoutKRefreshTextActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.refresh.LayoutKRefreshLottieActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.side.LayoutKSideActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.slider.LayoutKSliderActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.tab.LayoutKTabActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.tab.LayoutKTabBottomActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.tab.LayoutKTabBottomFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.tab.LayoutKTabBottomLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.tab.LayoutKTabTopActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.tab.LayoutKTabTopLayoutActivity"
            android:exported="false" />
        <!--recyclerk-->
        <activity
            android:name=".recyclerk.RecyclerKActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerk.RecyclerKAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerk.RecyclerKLoadActivity"
            android:exported="false" />
        <!--textk-->
        <activity
            android:name=".textk.TextKActivity"
            android:exported="false" />
        <!--viewk-->
        <activity
            android:name=".viewk.ViewKActivity"
            android:exported="false" />
        <activity
            android:name=".viewk.ViewKStepsActivity"
            android:exported="false" />
        <activity
            android:name=".viewk.ViewKViewsActivity"
            android:exported="false" />
    </application>

</manifest>