<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mozhimen.uicorektest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwiftKit">
        <activity
            android:name=".UicoreKActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".textk.TextKActivity"
            android:exported="false" />
        <activity
            android:name=".layoutk.LayoutKVideoActivity"
            android:exported="false" />
        <activity
            android:name=".navk.NavKActivity"
            android:exported="false" />
        <activity
            android:name=".sidek.SideKActivity"
            android:exported="false" />
        <activity
            android:name=".tabk.TabKBottomActivity"
            android:exported="false" />
        <activity
            android:name=".tabk.TabKBottomLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".tabk.TabKBottomFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".tabk.TabKTopActivity"
            android:exported="false" />
        <activity
            android:name=".tabk.TabKTopLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".refreshk.RefreshKLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".refreshk.RefreshKLayoutLottieActivity"
            android:exported="true" />
        <activity
            android:name=".bannerk.BannerKActivity"
            android:exported="false" />
        <activity
            android:name=".datak.DataKActivity"
            android:exported="false" />
        <activity
            android:name=".datak.DataKRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".loadk.LoadKActivity"
            android:exported="true" />
        <activity
            android:name=".layoutk.LayoutKActivity"
            android:exported="true" />
        <activity
            android:name=".layoutk.LayoutKEmptyActivity"
            android:exported="false" />
        <activity
            android:name=".btnk.BtnKActivity"
            android:exported="false" />
        <activity
            android:name=".viewk.ViewKActivity"
            android:exported="false" />
        <activity
            android:name=".viewk.ViewKStepsActivity"
            android:exported="false" />
        <activity
            android:name=".viewk.ViewKViewsActivity"
            android:exported="false" />
        <activity
            android:name=".dialogk.DialogKActivity"
            android:exported="false" />
    </application>

</manifest>