<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mozhimen.basicktest">

    <application
        android:name=".BasicKApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwiftKit">
        <activity
            android:name=".BasicKActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--basek-->
        <activity
            android:name=".basek.BaseKDemoActivity"
            android:exported="false" />
        <activity
            android:name=".basek.BaseKDemoServiceActivity"
            android:exported="false" />

        <service android:name=".basek.BaseKDemoService" />
        <!--executork-->
        <activity
            android:name=".executork.ExecutorKActivity"
            android:exported="false" />
        <!--prefabk-->
        <receiver
            android:name=".prefabk.AutoRunReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--stackk-->
        <activity
            android:name=".stackk.StackKActivity"
            android:exported="false" />
        <!--taskk-->
        <activity
            android:name=".taskk.TaskKActivity"
            android:exported="false" />
        <activity
            android:name=".taskk.TaskKPollingActivity"
            android:exported="false" />
        <activity
            android:name=".taskk.TaskKAsyncActivity"
            android:exported="false" />
        <!--utilk-->
        <activity
            android:name=".utilk.UtilKGestureActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.UtilKActivity"
            android:exported="true" />
        <activity
            android:name=".utilk.UtilKAudioActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.UtilKVerifyUrlActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.UtilKBitmapActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.UtilKDataBusActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.UtilKFileActivity"
            android:exported="false" />
    </application>

</manifest>