<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mozhimen.basicktest">

    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_INSTALL_SESSIONS" />
    <uses-permission android:name="android.permission.REPLACE_EXISTING_PACKAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- //测试 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BasicKApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwiftKit">
        <activity
            android:name=".utilk.kotlin.UtilKMathActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.kotlin.UtilKMd5Activity"
            android:exported="false" />

        <receiver
            android:name=".utilk.android.InstallKReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".BasicKActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
        <!-- animk -->
        <activity
            android:name=".animk.AnimKActivity"
            android:exported="false" /> <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
        <!-- cachek -->
        <activity
            android:name=".cachek.CacheKActivity"
            android:exported="false" />
        <activity
            android:name=".cachek.CacheKDSActivity"
            android:exported="false" />
        <activity
            android:name=".cachek.CacheKRMActivity"
            android:exported="false" />
        <activity
            android:name=".cachek.CacheKSPActivity"
            android:exported="false" /> <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
        <!-- elemk -->
        <activity
            android:name=".elemk.androidx.ElemKAndroidXActivity"
            android:exported="false" />
        <activity
            android:name=".elemk.android.ElemKAndroidActivity"
            android:exported="false" />
        <activity
            android:name=".elemk.android.ElemKGestureFlingActivity"
            android:exported="false" />
        <activity
            android:name=".elemk.ElemKActivity"
            android:exported="false" />
        <activity
            android:name=".elemk.androidx.ElemKVBVMActivity"
            android:exported="false" />
        <activity
            android:name=".elemk.android.ElemKServiceActivity"
            android:exported="false" />
        <activity
            android:name=".elemk.android.ElemKReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".elemk.android.ElemKGestureActivity"
            android:exported="false" />

        <service android:name=".elemk.android.ElemKService" />

        <receiver
            android:name=".elemk.android.ElemKAutoRunReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".elemk.android.ElemKInstallObserverReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
        <!-- imagek -->
        <activity
            android:name=".imagek.ImageKActivity"
            android:exported="false" /> <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
        <!-- manifestk -->
        <activity
            android:name=".manifestk.ManifestKActivity"
            android:exported="false" />
        <activity
            android:name=".manifestk.ManifestKPermissionActivity"
            android:exported="false" /> <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
        <!-- postk -->
        <activity
            android:name=".postk.PostKActivity"
            android:exported="false" />
        <activity
            android:name=".postk.PostKLiveDataEventBusActivity"
            android:exported="false" />
        <activity
            android:name=".postk.PostKLinkActivity"
            android:exported="true">
            <intent-filter>

                <!-- 必有项 -->
                <action android:name="android.intent.action.VIEW" />
                <!-- 表示该页面可以被隐式调用，必须加上该项 -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- BROWSABLE指定该Activity能被浏览器安全调用 -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 协议部分 -->
                <!-- 声明自定义scheme，类似于http, https -->
                <data
                    android:host="com.mozhimen.basick"
                    android:scheme="basick" />
            </intent-filter>
        </activity> <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
        <!-- stackk -->
        <activity
            android:name=".stackk.StackKActivity"
            android:exported="false" />
        <activity
            android:name=".stackk.StackKProcessActivity"
            android:exported="false" />
        <activity
            android:name=".stackk.StackKCbActivity"
            android:exported="false" /> <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
        <!-- taskk -->
        <activity
            android:name=".taskk.TaskKLocationActivity"
            android:exported="false" />
        <activity
            android:name=".taskk.TaskKActivity"
            android:exported="false" />
        <activity
            android:name=".taskk.TaskKExecutorActivity"
            android:exported="false" />
        <activity
            android:name=".taskk.TaskKPollActivity"
            android:exported="false" />
        <activity
            android:name=".taskk.TaskKAsyncActivity"
            android:exported="false" />
        <activity
            android:name=".taskk.TaskKCountDownActivity"
            android:exported="false" /> <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
        <!-- utilk -->
        <activity
            android:name=".utilk.kotlin.UtilKGenerateNoActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.UtilKActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.androidx.UtilKActionBarActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.android.UtilKViewActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.kotlin.UtilKKotlinActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.javax.UtilKJavaXActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.java.UtilKJavaActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.androidx.UtilKAndroidXActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.android.UtilKAndroidActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.android.UtilKContextDirActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.android.UtilKGraphicsActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.android.UtilKApkActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.android.UtilKAppInstallActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.android.UtilKAssetActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.android.UtilKIntentActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.android.UtilKLaunchActivityActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.android.UtilKPackageActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.android.UtilKInputActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.android.UtilKScreenActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.kotlin.UtilKVerifyUrlActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.android.UtilKBitmapActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.javax.UtilKEncryptActivity"
            android:exported="false" />
        <activity
            android:name=".utilk.java.UtilKFileActivity"
            android:exported="false" />
    </application>

</manifest>