<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mozhimen.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--android:requestLegacyExternalStorage="true" hotfixk-->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwiftK"
        android:usesCleartextTraffic="true">

        <!-- provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- demo -->
        <activity
            android:name=".demo.DemoActivity"
            android:exported="false" />   <!-- abilityk -->
        <activity
            android:name=".abilityk.opencvk.OpenCVKMatchActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.scank.ScanKHSVActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.opencvk.OpenCVKContrastActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.opencvk.OpenCVKShapeActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.opencvk.OpenCVKActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.transk.TransKActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.AbilityKActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.cameraxk.CameraXKActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.hotfixk.HotFixKActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.scank.ScanKActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.netk.NetKActivity"
            android:exported="false" />
    </application>

</manifest>