<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mozhimen.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwiftK"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".basick.utilk.UtilKGestureActivity"
            android:exported="false" />
        <!-- provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- demo -->
        <activity
            android:name=".demo.DemoActivity"
            android:exported="false" /> <!-- componentk -->
        <activity
            android:name=".componentk.ComponentKActivity"
            android:exported="false" />
        <activity
            android:name=".componentk.guidek.GuideKActivity"
            android:exported="false" />
        <activity
            android:name=".componentk.permissionk.PermissionKActivity"
            android:exported="true" />
        <activity
            android:name=".componentk.statusbark.StatusBarKActivity"
            android:exported="false" /> <!-- basicsk -->
        <activity
            android:name=".basick.eventk.EventKActivity"
            android:exported="true" />
        <activity
            android:name=".basick.BasicKActivity"
            android:exported="true" />
        <activity
            android:name=".basick.utilk.UtilKActivity"
            android:exported="true" />
        <activity
            android:name=".basick.executork.ExecutorKActivity"
            android:exported="false" />
        <activity
            android:name=".basick.logk.LogKActivity"
            android:exported="false" />
        <activity
            android:name=".basick.basek.BaseKDemoActivity"
            android:exported="false" />
        <activity
            android:name=".basick.stackk.StackKActivity"
            android:exported="false" /> <!-- uicorek -->
        <activity
            android:name=".uicorek.layoutk.LayoutKVideoActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.navk.NavKActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.UICoreKActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.sliderk.SliderKActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.tabk.TabKBottomActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.tabk.TabKBottomLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.tabk.TabKBottomFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.tabk.TabKTopActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.tabk.TabKTopLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.refreshk.RefreshKLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.refreshk.RefreshKLayoutLottieActivity"
            android:exported="true" />
        <activity
            android:name=".uicorek.bannerk.BannerKActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.datak.DataKActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.datak.DataKRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.loadk.LoadKActivity"
            android:exported="true" />
        <activity
            android:name=".uicorek.layoutk.LayoutKActivity"
            android:exported="true" />
        <activity
            android:name=".uicorek.layoutk.LayoutKEmptyActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.btnk.BtnKActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.viewk.ViewKActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.viewk.ViewKStepsActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.viewk.ViewKViewsActivity"
            android:exported="false" />
        <activity
            android:name=".uicorek.dialogk.DialogKActivity"
            android:exported="false" /> <!-- abilityk -->
        <activity
            android:name=".abilityk.opencvk.OpenCVKMatchActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.scank.ScanKHSVActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.opencvk.OpenCVKContrastActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.opencvk.OpenCVKShapeActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.opencvk.OpenCVKActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.transk.TransKActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.AbilityKActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.cameraxk.CameraXKActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.hotfixk.HotFixKActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.scank.ScanKActivity"
            android:exported="false" />
        <activity
            android:name=".abilityk.netk.NetKActivity"
            android:exported="false" /> <!-- underlayk -->
        <activity
            android:name=".underlayk.debugk.DebugKActivity"
            android:exported="false" />
        <activity
            android:name=".underlayk.UnderlayKActivity"
            android:exported="false" />
    </application>

</manifest>